= render 'shared/main-header', title: '契約書を確認'

.main-container__contents
  %h2 契約書テンプレート
  - @contracts_templete.each do |c|
    .main-container__contents__group
      %label
        ID:#{c.contract_id}
      = link_to '提出されたものを確認する', signed_contracts_path(templete_id: c.id)
      = link_to '削除', contract_path(c), method: :DELETE
      %object{data: c.pdf_url}
