<h1>契約書一覧</h1>

<div class="contracts">
  <div class="contracts__templete">
    <h2>契約書テンプレート</h2>
    <% @contracts_templete.each do |c| %>
      <div>
        <label>ID:<%= c.contract_id %></label>
      </div>
      <object data=<%= c.pdf_url%> height="500px"></object>
    <% end %>
  </div>

  <div class="contracts__signed">
    <h2>署名済の契約書</h2>
    <% @contracts_signed.each do |c| %>
      <div>
        <label>ID:<%= c.contract_id %></label>
      </div>
      <object data=<%= c.pdf_url%> height="500px"></object>
    <% end %>
  </div>
</div>
