<h1>契約書アップロード</h1>

<%= form_with model: @contract do |f| %>
  <div>
    <%= f.label :pdf_file %>
  </div>
  <div>
    <%= f.file_field :pdf_file %>
  </div>

  <div>
    <%= f.submit "send" %>
  <div>
<% end %>
