%h1 契約書検索
= form_with url: '/contracts/show', local: true do |f|
  %div
    %div
      %label ID
    = f.text_field :contract_id
  %div
    %div
      %label パスワード
    = f.password_field :pass
  %div
    = f.submit '検索'
