.header {
  background-color: #313B50;
  height: 3rem;
  width: 100%;
  padding: 0 2rem;
  display: table;
  position: fixed;
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  &__image {
    display: block;
    display: none;
  }
  &__title {
    display: table-cell;
    vertical-align: middle;
    color: white;
  }
}