.header {
  background-color: #0000FF;
  height: 3rem;
  width: 100%;
  padding: 0 2rem;
  display: table;
  position: fixed;
  z-index: 1;
  &__title {
    display: table-cell;
    vertical-align: middle;
    color: white;
  }
}