.side {
  background-color: #293140;
  height: 100vh;
  width: 26rem;
  a {
    text-decoration: none;
    color: white;
    display: block;
  }
  li:first-of-type {
    font-family: cursive, serif;
    height: 6rem;
    line-height: 6rem;
    list-style-type: none;
    padding-left: 1rem;
    font-size: 1.5rem;
  }
  li:nth-of-type(n+2) {
    height: 6rem;
    font-size: 1.1rem;
    line-height: 6rem;
    list-style-type: none;
    padding-left: 1rem;
    a:hover {
      color: #1EA6D6;
    }
  }
  &__icon {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
  }
  &__title {
    display: inline-block;
    vertical-align: middle;
  }
  .selected-menu {
    color: #1EA6D6;
  }
}