.side {
  background-color: #293140;
  height: 100vh;
  width: 20%;
  a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    display: block;
  }
  li:first-of-type {
    height: 6rem;
    line-height: 6rem;
    list-style-type: none;
    padding-left: 1rem;
  }
  li:nth-of-type(n+2) {
    height: 6rem;
    line-height: 6rem;
    list-style-type: none;
    padding-left: 1rem;
    a:hover {
      color: #1EA6D6;
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    vertical-align: middle;
  }
  &__title {
    display: inline-block;
    vertical-align: middle;
  }
  .selected-menu {
    color: #1EA6D6;
  }
}