.side {
  background-color: #293140;
  height: 100vh;
  width: 20%;
  text-align: center;
  a {
    text-decoration: none;
    color: white;
  }
  li {
    height: 3rem;
    line-height: 3rem;
    list-style-type: none;
  }
  .selected-menu {
    color: #1EA6D6;
  }
}