#nav-drawer {
  position: relative;
  height: 7.5rem;
  margin: 1rem;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 1rem;/*線の太さ*/
  width: 6rem;/*長さ*/
  border-radius: 3px;
  background: #00BCD4;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -2rem;
}
#nav-open span:after {
  bottom: -4rem;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 80%;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
	display: flex;
	display: -moz-flex;
	display: -o-flex;
	display: -webkit-flex;
	display: -ms-flex;
	flex-direction: row;
	-moz-flex-direction: row;
	-o-flex-direction: row;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
}

/*ロゴやサイトタイトルをセンタリング*/
.logo-erea{text-align:center;margin:auto;}

@media screen and (min-width:1000px) {
  #nav-drawer {
    display:none;
  }
}

@media screen and (max-width:999px) {
  .side {
    display:none;
  }
  #nav-drawer {
    position: fixed;
    z-index: 2;
    right: 5rem;
    top: 1.5rem;
    li {
      padding: 3rem 1rem;

      a {
        text-decoration: none;
        color: #313B50;
        font-size: 2.5rem;
      }
    }
  }
}