<%= render partial: 'shared/header' %>

<h2>署名済の契約書</h2>
<% @signed_contracts.each do |c| %>
  <div>
    <label>氏名:<%= c.name %></label>
    <%= link_to '削除', signed_contract_path(c), method: :DELETE %>
  </div>
  <object data=<%= c.pdf_url%> height="500px"></object>
<% end %>
